.main-pic {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 10px;
}

.product-card {
  display: flex; 
  flex-direction: column; 
  justify-content: space-between; 
  align-items: center; 
  position: relative;
  border: 1px solid #d1cfcf;
  border-radius: 5px;
  padding: 10px;
  height: 430px;
  width: 350px;
  overflow: hidden;
  gap: 10px;
}

.product-card img {
  max-width: 100%;
  max-height: 50%;
  width: auto;
  height: auto;

}

.price {
  font-weight: bold;

}

.category {
  font-style: italic;
  font-size: 12px;
}

.description {
  font-size: 12px;

}
.home-page {
  text-align: center;
  margin: 0;
}

.category-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.category-buttons button {
  margin: 5px;
  padding: 10px 20px;
  background-color: #f1f1f1;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.category-buttons button.selected {
  background-color: #2e26d5;
  color: white;
}

.category-buttons button:hover {
  background-color: #ddd;
}

.category-buttons button.selected:hover {
  background-color: #1a48b2;
}

.proceed-payment {
  font-size: 12px;
}

.prod-title {
  font-size: 16px;
}