.footer {
    margin-top: 20px;
    background-color: #222222;
    color: #fff;
    padding: 20px;
  }
  
  .footer-container {
    display: flex;
    justify-content: center;
  }
  
  .business-details {
    text-align: center;

  }
  
  .business-details h2 {
    margin-top: 0;
  }
  
  .business-details p {
    margin: 5px 0;
  }